[Unit]
Description=Dobby
After=multi-user.target

[Service]
ExecStart=/home/ec2-user/.nvm/versions/node/v15.2.1/bin/node /home/ec2-user/dobby/index.js 
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=dobby
User=ec2-user
Group=ec2-user

[Install]
WantedBy=multi-user.target
